baseURL = "https://example.com/"
languageCode = "en-us"
title = "norrs - snippets of text"
enableGitInfo = true
[pagination]
  pagerSize = 10
[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 3
[params]
  description = "Attracted to computers since two."
  repoURL = "https://github.com/norrs/public_html"
