baseURL = "https://example.com/"
languageCode = "en-us"
title = "Simple Markdown Blog"
enableGitInfo = true
[pagination]
  pagerSize = 10
[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 3
[params]
  description = "An ultra-minimal blog compiled from Markdown."
