{{ $page := . }}
{{ if eq $page.Section "posts" }}
  {{ $historyRoot := index $page.Site.Data "post-history" }}
  {{ if $historyRoot }}
    {{ $section := index $historyRoot $page.Section }}
    {{ if $section }}
      {{ $entries := index $section $page.File.TranslationBaseName }}
      {{ if $entries }}
        {{ $repo := "" }}
        {{ with $page.Site.Params.repoURL }}
          {{ $repo = strings.TrimSuffix . "/" }}
        {{ end }}
        {{ $changeTotal := len $entries }}
        {{ $changeLabel := cond (eq $changeTotal 1) "change" "changes" }}
        <section class="post-history">
          <h2>Revision history</h2>
          <details>
            <summary>This entry has {{ $changeTotal }} {{ $changeLabel }}. Click to see dates and commit messages.</summary>
            <ol>
              {{ range $entries }}
                <li>
                  <p>
                    <time datetime="{{ .date }}">{{ (time .date).Format "Jan 2, 2006 15:04" }}</time>
                    &mdash; {{ .subject }}
                    {{ $commitURL := "" }}
                    {{ if $repo }}
                      {{ $commitURL = printf "%s/commit/%s" $repo .hash }}
                    {{ end }}
                    <span class="commit-hash">
                      ({{ if $commitURL }}<a href="{{ $commitURL }}" rel="noopener noreferrer">{{ .short }}</a>{{ else }}{{ .short }}{{ end }})
                    </span>
                  </p>
                </li>
              {{ end }}
            </ol>
          </details>
        </section>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
